*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    color: red;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
}

.home {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    background-image: linear-gradient(to right bottom, rgba($color-primary-light,.8), rgba($color-primary-dark,.8));
}